script.
    var Shopper = {
        REGIONS: '#{REGIONS}'.split(','),
        STATUSES: '#{STATUSES && STATUSES}'.split(','),
        DATA: {
            first_name: '#{shopper && shopper.first_name}',
            last_name: '#{shopper && shopper.last_name}',
            email: '#{shopper && shopper.email}',
            phone: '#{shopper && shopper.phone}',
            region: '#{shopper && shopper.region}',
            workflow_state: '#{shopper && shopper.workflow_state}'
        }
    };
//-script(src="/static/js/bundle.js")
script(src="/static/js/bootstrap-form-validator.js")
