include header.pug

body
    div.background

        div.container
            div.row
                div.col--centered.col--fixed-width
                    form(action="/shopper",method="POST")
                        div.form-group
                            h2 Get paid to shop!
                        div.form-group
                            label(for="first_name") First Name
                            input#first_name.form-control(type="text",
                                name="first_name",
                                placeholder="e.g. Jamie",
                                required)
                        div.form-group
                            label(for="last_name") Last Name
                            input#last_name.form-control(type="text",
                                name="last_name",
                                placeholder="e.g. Adams",
                                required)
                        div.form-group
                            label(for="email") Email
                            input#email.form-control(type="email",
                                name="email",
                                placeholder="e.g. example@gmail.com",
                                required)
                        div.form-group
                            label(for="phone") Cell Phone Number
                            input#phone.form-control(type="text",
                                name="phone",
                                placeholder="e.g. 1-541-754-3010",
                                required)
                        div.form-group
                            label(for="region") Region
                            select#region.form-control(name="region", required)
                                each val in REGIONS
                                    option(value=val) #{val}

                        button.btn.btn-primary.btn-success.btn--main-cta(type="submit") Apply Now
    //- some advertising how cool to be a shopper
    include promo.pug

    include footer.pug
